<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/styles.css">

    <title>Home | Schedule</title>
</head>
<body>

    <div class="sidenav">
        <div class="links">
            <h1>Alan Jith</h1>
            <a href="#" class="link">Home</a>
            <a href="login" class="link">Sign out</a>
        </div>
    </div>

    <header style="background: #39d4c0">
        <h1 style="margin-left: 20%">Alan Jith's Schedule</h1>
    </header>

    <div class="container content">
        <div class="schedule">
            <br>
            <div class="period clickable" data-url="period1"><br>Spanish 4, Mrs. Castro<br>Period 1<br><br></div>
            <div class="period clickable" data-url="period2"><br>AP Calc AB, Dr. Pena-Lopez<br>Period 2<br><br></div>
            <div class="period clickable" data-url="period3"><br>AP US History, Mrs. Simard<br>Period 3<br><br></div>
            <div class="period clickable" data-url="period4"><br>English 3 Honors, Ms. Cedeno<br>Period 4<br><br></div>
            <div class="period clickable" data-url="period5"><br>Band 3, Mrs. Imbersin<br>Period 5<br><br></div>
            <div class="period clickable" data-url="period6"><br>AP Computer Science A, Mrs. Demosthenes<br>Period 6<br><br></div>
            <div class="period clickable" data-url="period7"><br>Physics 1, Ms. Macnamara<br>Period 7<br><br></div>
        </div>
    </div>
<script src="static/js/script.js"></script>
<script src="static/js/home.js"></script>
</body>
</html>
